*{
    margin: 0;
}
#parent{
    background-color: cornflowerblue;
    /* width: 600px;
    height: 400px; */
}

.item1, .item2, .item3{
    width: 200px;
    height: 100px;
    background-color: crimson;
    border: 1px solid black;
    color: darkgray;
    text-align: center;
    float: left;
}
.item3{
    float: right;
}
footer{
    background-color: darkcyan;
    clear: both;
}